.movieCard {
    width: 100%;
    cursor: pointer;
    box-sizing: border-box;
}

.container {
    position: relative;
    width: 100%;
    aspect-ratio: 2/3; /* автоматическая высота относительно ширины */
    border-radius: 30px;
    overflow: hidden;
}
.container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius:30px;

}

.chip {
    position: absolute;
    bottom: 15px;
    right: 15px;
    background-color: rgba(0,0,0,0.7);
    color: #fff;
    font-weight: bold;
}
.movieCard:hover .favorite {
    opacity: 1;
}
